* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open sans',sans-serif;
}

.main {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.main .search-box {
    text-align: center; 
    width: 35%;
    height: 220px;
}

.logo {
    font-size: 2.3rem;
    color: blue;
    font-family:'Pacifico', cursive;
    margin-bottom: 1.5rem;
}
.logo::after {
    content: '*';
    display: inline-block;
    font-size: 1.7rem;
    color:yellow;
    text-shadow: 2px 2px 10px rgb(231, 231, 231);
    animation: anim-star 5s cubic-bezier(0.165, 0.84, 0.44, 1) infinite ;
}

@keyframes anim-star {
    0% {
        color: yellow;
    }
    50% {
        color:yellow;
    }
    75% {
        color:  rgb(255, 29, 142);
    }
    99% {
        transform: rotate(360deg);
    }
    100% {
        color:transparent
    }
}

.search-submit {
    margin-top: 1.3rem;
    border: none;
    padding: .5rem 2.5rem;
    background-color: white;
    border-radius: 25px;
    text-transform: capitalize;
    color: rgb(119, 118, 118);
    background-color: whitesmoke;
    box-shadow: 0px 0px 0px rgb(207, 207, 207);
    cursor: pointer;
}

.search-submit:hover {
    box-shadow: 1px 2px 7px rgb(207, 207, 207);
    background-color: white;
}


.search-input {
    border: 1px solid whitesmoke;
    padding: 1rem 2rem;
    display: inline-block;
    width: 100%;
    color: gray;
    border-radius: 25px;
    box-shadow: 1px 1px 1px rgb(235, 234, 234);
}

.search-input:focus {
    outline: none;
    animation: anim-border 1s alternate-reverse infinite;
    box-shadow: 1px 1px 7px rgb(235, 234, 234);
}

@keyframes anim-border {
    0% {
        border-top:1px solid yellow;
    }
    25%{
        border-right:1px solid blue;
    }
    50%{
        border-bottom:1px solid yellow;
    }
    75%{
        border-left:1px solid blue;
    }
    85%{
        border: 1px solid yellow;
    }
    100% {
        border: 1px solid blue;
    }
}
.result-box {
    display: none;
    position: relative;
    width: 35%;
    height: 400px;
    overflow-y: scroll;
    scrollbar-width: none;
    scrollbar-color: white;
}


.result-box h3 {
    font-weight: 200;
    margin-bottom: .7rem;
    color:rgb(98, 98, 98);
}

.result {
    min-height: 80px;
    width: 100%;
    border-radius: 10px;
    padding: .7rem;
    box-shadow: 1px 1px rgb(218, 218, 218);
}
.result:hover {
    box-shadow: 1px 3px 10px  rgb(236, 235, 235);
}
.result h5 {
    font-size: 1.05rem;
    color: rgb(29, 29, 29);
}
.result p {
    font-weight: 300;
    font-size: .95rem;
    color: gray;
}